body {
    background-image: url(https://images.unsplash.com/photo-1570284613060-766c33850e00?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  .navbar3 {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar3 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar3 a:hover {
  background: #ddd;
  color: black;
}
.navbar3 a.active3 {
  background-color: #04AA6D;
  color: white;
}
.name3{
  margin-top: 80px;
  color: white;
  text-align: center;
}