html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background-image:url(https://images.unsplash.com/photo-1570284613060-766c33850e00?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
  
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
  }

 .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

 .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .title{
    margin-top: 88px;
    color: white;
    text-align: center;
  }
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.box{
    width: 17rem;
    height: auto;
    color: white;
    text-align: center;
    gap: 10px;
    margin: 1rem;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .container{
      
      grid-template-columns: auto auto; 
    }
  }
  @media screen and (min-width: 425px )  and (max-width: 660px ){
    .box{
      width: 15rem;
  }
}
  @media screen and (max-width: 425px) {
    .container{
      
      grid-template-columns: auto;
     
  }
  }

